@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Noto+Sans+JP:wght@100..900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --white-color: #fff;
    --black-color: #333;
    --primary-color: #8D6E63;
    --secondary-color: #BFACA6;
}

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: "Roboto", serif;
}

body{
    font-size: 1.6rem;
}